* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}

.box0 {
  position: absolute;
  display: flex;
  height: 640px;
  top: 10px;
  left: 10px;
  right: 10px;
  border: 1.5px dashed rgb(183, 7, 36);
}


.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  max-width: 1450px;
  min-width: 500px;
  height: 640px;
  margin: 0 auto;
  margin-top: 10px;
}

.box .box1,
.box .box2,
.box .box3,
.box .box4 {
  line-height: 30px;
  padding-left: 10px;
  overflow: hidden;
}

.box .box1 {
  flex: 0 0 320px;
  height: 500px;
  margin-left: 10px;
  border-radius: 2%;
  background-color: skyblue;
}

.box .box2 {
  flex: 1 1 320px;
  height: 300px;
  border-radius: 2%;
  background-color: rgb(68, 231, 68);
}


.box .box3 {
  align-self: flex-start;
  max-width: 320px;
  height: 100px;
  margin-top: 20px;
  background-color: orange;
}

.box .box4 {
  flex: 0 2 320px;
  height: 600px;
  margin-right: 20px;
  border-radius: 2%;
  background-color: red;
}